.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone { 
        display: block;
        color: #fff; 
        font-weight: 700;
        font-size: 18px;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}